* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url(../assets/todobg.jpg) center/cover no-repeat;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.header__title {
    padding-top: 2em;
    text-align: center;
    font-size: 4rem;
    color: var(--color-red);
}

.todo{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.todo__button-delete-all {
    font-size: 1.5rem;
    width: 20%;
    padding: .5em;
    background-color: var(--color-red);;
}

.todo__button-delete-all:hover {
    opacity: 0.7;
    cursor: pointer !important;
}

.todo__input-add {
    padding: .5em;
    font-size: 2rem;
    width: 100%;
    border-radius: 5px;
}

.todo__button-add {
    font-size: 1.5rem;
    width: 20%;
    padding: .5em;
    background-color: var(--color-green);
}

.todo__button-add:hover {
    opacity: 0.7;
    cursor: pointer !important;
}

.todos__container {
    display: flex;
    flex-direction: column;
}

.todo__item {
    border: 1px solid var(--color-white);
    border-radius: 5px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .5em;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
}

.todo__description {
    padding-right: 25px;
}

.todo__checkbox {
    width: 20px;
    height: 20px;
}

.todo__button-delete {
    pointer-events: none;
    padding: .5em;
    opacity: .5;
    background-color: var(--color-red);
}

.todo__checkbox:checked ~ .todo__description {
    text-decoration: line-through;
}

.todo__checkbox:checked~ .todo__button-delete {
    pointer-events: auto;
    opacity: 1;
}

.todo__checkbox:checked~ .todo__date {
    text-decoration: line-through;
}


.noTodos {
    text-align: center;
    font-size: 2rem;
    color: var(--color-darkgreen);
}

.counter {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-darkgreen);
}